@model DailyReporterPro.Models.HomeViewModel


<div id="home-view-container">

  <div class="jumbotron">

    <h3>Bem Vindo à Aplicação de PBI Embedded do MVP Conf Latam</h3>

    <h4>
       Workspace Conectado: @Model.WorkspaceName
    </h4>

    <h4>
      ID Workspace Conecado: @Model.WorkspaceId
    </h4>

  </div>


</div>
